{% extends 'base.html' %}

{% block meta %}
<title>Buat Promo</title>
<style>
    th, td {
        padding: 10px;
    }
</style>
{% endblock meta %}

{% block content %}

<h1 class="text-center">Buat Promo</h1>
<br>
<div class="container">
    <div class="mx-auto text-center">
        <a href="buat-promo-minimum-transaksi" class="btn btn-info">Buat Promo Minimum Transaksi</a>
        <br><br>
        <a href="buat-promo-hari-spesial" class="btn btn-info">Buat Promo Hari Spesial</a>
    </div>
</div>
{% endblock content %}